$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0077FD;
$secondary_paletteKeyColor: #727497;
$tertiary_paletteKeyColor: #7B70A3;
$neutral_paletteKeyColor: #737782;
$neutral_variant_paletteKeyColor: #727785;
$background: #0F131C;
$onBackground: #DFE2EF;
$surface: #0F131C;
$surfaceDim: #0F131C;
$surfaceBright: #353943;
$surfaceContainerLowest: #0A0E17;
$surfaceContainerLow: #181B25;
$surfaceContainer: #1C2029;
$surfaceContainerHigh: #262A33;
$surfaceContainerHighest: #31353F;
$onSurface: #DFE2EF;
$surfaceVariant: #424753;
$onSurfaceVariant: #C2C6D6;
$inverseSurface: #DFE2EF;
$inverseOnSurface: #2D303A;
$outline: #8C909F;
$outlineVariant: #424753;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #AEC6FF;
$primary: #AEC6FF;
$onPrimary: #002E6A;
$primaryContainer: #004395;
$onPrimaryContainer: #D8E2FF;
$inversePrimary: #005AC3;
$secondary: #C2C4EB;
$onSecondary: #2B2E4D;
$secondaryContainer: #414465;
$onSecondaryContainer: #E0E0FF;
$tertiary: #CCBFF7;
$onTertiary: #332957;
$tertiaryContainer: #9589BF;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D8E2FF;
$primaryFixedDim: #AEC6FF;
$onPrimaryFixed: #001A42;
$onPrimaryFixedVariant: #004395;
$secondaryFixed: #E0E0FF;
$secondaryFixedDim: #C2C4EB;
$onSecondaryFixed: #161937;
$onSecondaryFixedVariant: #414465;
$tertiaryFixed: #E7DEFF;
$tertiaryFixedDim: #CCBFF7;
$onTertiaryFixed: #1E1341;
$onTertiaryFixedVariant: #4A4070;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #161A26;
$term1: #8C80FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #8DAED5;
$term5: #A0A4EF;
$term6: #97CFFC;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #C0B8FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #CADEF6;
$term13: #D8D6FF;
$term14: #F8FAFF;
$term15: #D7E2FF;
