$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FF5700;
$secondary_paletteKeyColor: #996E4D;
$tertiary_paletteKeyColor: #996F33;
$neutral_paletteKeyColor: #88726B;
$neutral_variant_paletteKeyColor: #8C7168;
$background: #1E100B;
$onBackground: #F9DDD4;
$surface: #1E100B;
$surfaceDim: #1E100B;
$surfaceBright: #47352F;
$surfaceContainerLowest: #180B07;
$surfaceContainerLow: #271813;
$surfaceContainer: #2B1C17;
$surfaceContainerHigh: #362621;
$surfaceContainerHighest: #42312B;
$onSurface: #F9DDD4;
$surfaceVariant: #58423A;
$onSurfaceVariant: #DFC0B5;
$inverseSurface: #F9DDD4;
$inverseOnSurface: #3D2D27;
$outline: #A78B81;
$outlineVariant: #58423A;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB59B;
$primary: #FFB59B;
$onPrimary: #5B1A00;
$primaryContainer: #812800;
$onPrimaryContainer: #FFDBCF;
$inversePrimary: #A93700;
$secondary: #F0BC96;
$onSecondary: #49290E;
$secondaryContainer: #633E22;
$onSecondaryContainer: #FFDCC4;
$tertiary: #F1BD7A;
$onTertiary: #452B00;
$tertiaryContainer: #B6884A;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDBCF;
$primaryFixedDim: #FFB59B;
$onPrimaryFixed: #380D00;
$onPrimaryFixedVariant: #812800;
$secondaryFixed: #FFDCC4;
$secondaryFixedDim: #F0BC96;
$onSecondaryFixed: #2F1400;
$onSecondaryFixedVariant: #633E22;
$tertiaryFixed: #FFDDB5;
$tertiaryFixedDim: #F1BD7A;
$onTertiaryFixed: #2A1800;
$onTertiaryFixedVariant: #623F05;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
